<div class="row">
  <div class="col-sm-4">
    <h3>Create Category</h3>
    <form action="/admin/categories/create" method="post">
      <div class="form-group">

        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          placeholder="Enter category title"
        />
      </div>

      <button class="btn btn-primary">Create Category</button>
    </form>
  </div>

  <hr />

  <div class="col-sm-8">
    <h3>Categories</h3>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        {{#each categories}}
          <tr>
            <td scope="row">{{id}}</td>
            <td scope="row">{{name}}</td>
            <td scope="row">
              <a class="btn btn-info" href="/admin/categories/edit/{{id}}">
                Edit
              </a>
            </td>
            <td scope="row">
              <form
                action="/admin/categories/{{id}}?_method=DELETE"
                method="post"
              >
                <button type="submit" class="btn btn-danger">Remove</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>